# ROS 2 build folders
install/
build/
log/

# Python cache
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Compiled files
*.so

# Ignore the actual source code of packages (because they have their own repos)
src/*/
pass_git.txt

# Ignore Python & OS junk
__pycache__/
.DS_Store